<div class="modal hide fade" id="begin_alert">
 <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
   <h1>BEFORE YOU BEGIN</h1>
 </div>
 <div class="modal-body">
  <p>
  Filling out this thesis submission form and submitting your thesis to the 
  Digital Archives of Colorado College means that your thesis will be 
  <ol>
    <li>Preserved in perpetuity, and</li>
    <li>Freely available on the Internet in the spirit of open access, which 
        allows others to read, download, distribute, print, search and link 
        to your thesis, or use it for any other lawful, noncommercial purpose.</li>
  </ol>
  </p>
  <p>
    You retain the copyright for your work. If you want your thesis or capstone in the 
    Digital Archive, then 
  </p>
  <p style="text-align:center">
   <a data-dismiss="modal" class="btn btn-large btn-primary">CONTINUE TO THE FORM</a>
  </p>
  <p class="text-info">
   If you do not want to deposit your thesis in the Digital Archives, please 
   submit a print copy to the library, following these 
   <a class="label label-warning" href="http://coloradocollege.libguides.com/content.php?pid=345211&sid=3038528">instructions</a>.
  </p>
 </div>
 <div class="modal-footer">
  {% comment %}<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>{% endcomment %}
 </div>
</div>
