{% extends 'app-base.html' %}
{% load etd_extras %}
{% load i18n %}

{% block head-title %}{% trans "Electronic Thesis Submission for Colorado College" %}{% endblock %}
{% block more-css %}
 <link href="{{ STATIC_URL }}css/thesis.css" rel="stylesheet" />
 
{% endblock %}

{% block navbar %}
 <div class="row">
  {% if website %}
  <div class="col-md-12 col-sm-12">
   <iframe src="/apps/website-header" class="website-header" scrolling="no"></iframe>
  </div>
  {% else %}
   {% include 'snippets/navigation-action-bar.html' %}
  {% endif %}
 </div>
{% endblock %}

{% block action-view-subtitle %}
{% if workflow %}
{{ config|get_department_name }} 
{% endif %}
{% endblock %}


{% block library-breadcrumb %}
{% endblock %}

{% block body %}
<div class="row" >
 <div class="col-sm-8 col-md-8" style=" margin-top: 0px">
  <ul class="breadcrumb" >
   <li><a href="http://www.coloradocollege.edu/library">{% trans "Library Home" %}</a>&nbsp;&raquo;</li>
   <li><a href="/etd">{% trans "ETD" %}</a>&nbsp;&raquo;</li>
  {% if workflow %}
   <li class="active"><a href="#" >{{ config|get_department_name }}</a></li>
  {% endif %}
  </ul>
 </div>
</div>

<div class="row">
  {# START left-column DIV #}
  <div class="col-md-3 col-sm-3 offset1">
{% if workflow %}
   <div class="help_steps">
    <h1 class="help_step">Follow these steps to submit your thesis</h1>
     <p><i>Before you begin filling out the thesis submission form:</i></p>
      <ul>
        <li>Make sure you have the FINAL version of your thesis</li>
        <li>Make sure your thesis is saved as a PDF/A. This is an "archival" version 
            of PDF.  For instructions, please see this 
           <a href="{{ STATIC_URL}}pdf/pdfaInstructions.pdf" target="pdfa">document</a></li>
     
      </ul>
    <p>Then proceed to the electronic thesis submission form:</p>
    <ol start="1">
      <li>Enter Author Information</li>
      <li>Upload Thesis and Information</li>
      <li>Upload datasets, media files and other supporting material</li>
      <li>Honor code and submission agreements</li>
      <li>Review and Submit your thesis to the Digital Archives of Colorado College</li>
    </ol>
   </div> 
{% else %}
   <div class="help_steps">
    <h1 class="help_step">{% trans "What now?" %}</h1>
    <ol start="1">
     <li>Select your department web form</li>
     <li>Enter your last name and TIGER library number</li>
     <li>Fill-out information about your thesis</li>
     <li>Upload your thesis in PDFa format</li>
     <li>Done!</li>
    </ol>
   </div>
{% endif %}
  <aside class="aside">
   <div>
    <h5><strong>Questions? Need Help?</strong></h5>
    <p>Contact <a href="mailto:llister@coloradocollege.edu">Lisa Lister</a>,
    Digital Archives manager, at 389-6242 or your 
    <a href="">Library Liaison</a>. You can also contact the 
    Tutt Library Reference Desk at 389-6662.</p>
  </div>
  </aside>
   {% comment %}END left-column DIV{% endcomment %}
  </div>
  {% comment %}START main-column DIV{% endcomment %}
  <div class="col-md-8 col-sm-8 well">
 {% if workflow %}
    <h1>{{ config|get_department_name }} Thesis Submission</h1>
   {% include 'thesis-form.html' %}
 {% else %}
   <h1>Colorado College Electronic Thesis Submission</h1>
   <p>The Digital Archives of Colorado College (DACC) electronic thesis and 
      dataset application allows students to self-submit their senior thesis
      to our institutional repository. The following departmental
      web forms are available below:</p>
   <ul>
   {% for workflow in active %}
    <li><a 
        {% if not user.is_authenticated %}href="/accounts/login?next=/apps/etd/{{ workflow.0 }}"
        {% else %} 
        href="{{ request.get_full_path }}{{ workflow.0 }}"
        {% endif %}>{{ workflow.1|get_department_name }}</a>
     </li>
   {% endfor %}
   </ul>
 {% endif %}
  {% comment %}END main-column DIV{% endcomment %}
  </div>
</div>
</div>
{% endblock %}

{% block footer %}
<div class="row-fluid">
  {% if website %}
  <div class="span12 offset1">
   <iframe src="/apps/website-footer" class="website-footer" scrolling="no"></iframe>
  </div>
  {% else %}
   {% include  'snippets/footer-action-bar.html' %}
  {% endif %}
{% endblock %} 

{% block more-js %}
{% comment %}
<script src="{{ STATIC_URL}}js/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL}}js/jquery.fileupload.js"></script>
<script src="{{ STATIC_URL}}js/jquery.iframe-transport.js"></script>
{% endcomment %}
<script src="{{ STATIC_URL }}js/knockout.validation.min.js"></script>
<script src="{{ STATIC_URL }}js/thesis.js"></script>
<script>
 ko.applyBindings(new ThesisViewModel());
</script>
{% endblock %}
