{# START Honor-code and Submission DIV #}
<div data-bind="visible: showStepFour">
 <h2>Honor Code and Submission Agreements</h2>
 <h3 class="chk_box">Honor Code</h3>
  {# START honor-code div #}
    <div id="honor-code">
      <div class="alert alert-danger" data-bind="visible: honorCodeError" style="color: rgb(255, 0, 0) !important">
        <strong>Error!</strong> You must agree to the Honor Code statement before submitting
      </div>
        {{ step_four_form.honor_code }} <strong>{{ step_four_form.honor_code.label }}</strong>
        By checking this box I indicate agreement with this
        statement: <b>On my honor, I have neither given nor received unauthorized aid on this thesis</b>
    </div>
    {# START agreement div #}
    <div id="agreement">
      <div class="alert alert-danger" 
           data-bind="visible: submissionAgreementError" 

         >
       <strong>Error!</strong> You must agree to the submission agreement below to submit your thesis through this
       web form.
      </div>
	<h3 class="chk_box">Submission Agreement</h3>
	<b>{{ step_four_form.submission_agreement }} {{ step_four_form.submission_agreement.label }} </b>
	By checking the agreement box and submitting this form, I (the author and copyright owner) grant {{ institution }}
		the non-exclusive right to reproduce and distribute my thesis/work in print and electronic form. I agree
	   that {{ institution }} may, without changing the content, convert my thesis/work to any medium or step_four_format for the 
	   purpose of historical preservation and to make publically available in open access to a larger community of
	   scholars. All such copies will retain original notices of authorship and copyright.<br/>
	<p>I understand that as the author of this work, I shall, without limitation, have the right to use, reproduce,
	   distribute, update, create derivatives, and make copies of the work (electronically or in print). U.S. Copyright
	   law protects me against the unauthorized use of this work; the right to use in future works all or part of this
	   work.</p>
	<p>I understand that {{ nstitution }} shall have the right to non-commercial use which includes the right to reproduce,
	   distribute, and make copies of the work (electronically or in print) in connection with digital repositories, 
	   teaching, and scholarly activities at {{ institution }}.</p>
        {% comment %}
        <p><strong>{{ step_four_form.not_publically_available }} {{ step_four_form.not_publically_available.label }}</strong>
           By checking this box and submitting this form, I (the author and copyright owner) do not want my thesis to be 
           publically available to a larger community of scholars.  Only {{ default.institution }} faculty will be able 
           to access the full-text of my thesis.   
           </p>
       {% endcomment %}
   {# END agreement DIV #}
    </div>
  <div class="step_four_form-group">
  
  <div class="col-lg-4 col-lg-offset-2">
   <a href="#" data-bind="click: validateStepFour" 
      class="btn btn-primary btn-lg">Submit to Repository</a>
  </div>
 </div>
{# END Honor-code and Submission DIV #}
</div>
