{% load static %}
<!DOCTYPE html>
<html>
<head>
 <title>Status of {mods.title}</title>
 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

 <link type="text/css" href="{% get_static_prefix %}status.css')}" rel="stylesheet" />
 <script type="text/javascript" src="{% get_static_prefix %}status.js')}"></script>
 <script type="text/javascript">
  $(function() {
     $('#status-tabs').tabs();
  });
 </script>
</head>
<body>
  <h1>Submitting Thesis to the Digital Archives of ${c.mods['institution']}</h1>
  <h3>Submitting <em>${c.mods['title']}</em> to digital archives</h3>
   <p><b>Note:</b> This may take some time if you have a large thesis</p>
  <div id="status-tabs">
    <ul>
     <li><a href="#current-tab">Current Status</a></li>
     <li><a href="#submitted-tab">Submitted Values</a></li>
    </ul>
    <div id="current-tab">
    <div id="progressbar"><img src="${url('/ajax-loader.gif')}" /></div>
    <ul id="status-list">
      <li class="info">Submission started ${time_stamp()}</li>
    </ul>
    </div>
    <div id="submitted-tab">
    <table class="submitted-tbl">
     <tr>
      <th>Field</th><th>Value</th>
      <th>Field</th><th>Value</th>
     </tr>
     <tr>
      <td class="fld">Your Name</td><td class="val">${c.mods['author']}</td>
      <td class="fld">Faculty Advisor</td>
      <td class="val">
      % for advisor in c.mods['advisors']:
      ${advisor}
      % endfor
      </td>
     </tr>
	 <tr>
      <td class="fld">Thesis Title</td>
      <td class="val" colspan="3">${c.mods['title']}</td>
	 </tr>
	 <tr>
	  <td class="fld">Thesis filename</td>
      <td class="val">${c.thesis_filename}</td>
	  <td class="fld">Thesis Abstract</td>
      <td class="val">${c.mods['abstract']}</td>
	 </tr>
	 <tr>
      <td class="fld">About your thesis</td>
      <td class="val">${c.mods['extent']}</td>	 
	  <td class="fld">Tags or Keywords</td>
      <td class="val">
      <ul>
	  % for kw in c.mods['subjects']:
	  <li>${kw}</li>
      % endfor 
      </ul>
       </td>
	 </tr>
	 <tr>
	  <td class="fld">Dataset filename</td>
      <td class="val">
      % if c.dataset_filename is not None:
      ${c.dataset_filename}
      % else:
      No dataset submitted.
      % endif
      </td>
	  <td class="fld">About your dataset</td>
      <td class="val">
      % if c.mods['admin_note'] != None:
      ${c.mods['admin_note']}
      % else:
      No dataset software or abstract information submitted.
      % endif 
      </td>
      </tr>
	 <tr>
	  <td class="fld">Dataset publically available</td>
	  <td class="val">${c.dataset_agreement}</td>
	  <td class="fld">Honor-code agreement</td>
	  <td class="val">
	  % if c.honor_code is not None:
	   Yes
	  % else:
	   No
	  % endif
	  </td>
	 </tr>
    </table> 
    </div>
  </p>
  </div>
<!-- <input type="button" value="Check status" onclick="quick_status()" /> //-->
<script>
//function quick_submit() {
//  getSubmissionStatus("${url('get')}");
//}
pollStatus("${url('get')}");
</script>
</body>
</html>
