{% extends 'cc-inside-base-twocol.html' %}
{% load etd_extras %}

{% block head-title %}Successful Thesis Submission to Digital Archives of Colorado College {% endblock %}
{% block more-css %}
 <link href="{{ STATIC_URL }}css/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
 <link href="{{ STATIC_URL }}etd/css/thesis.css" rel="stylesheet" />
{% endblock %}

{% block library-breadcrumb %}
 <div id="breadcrumb">
  <div class="stage"><a href="http://www.coloradocollege.edu/library">Library Home</a>&nbsp;&raquo;&nbsp;<a href="/etd">ETD</a>&nbsp;&raquo;&nbsp;
   <a href="#" class="on">Success</a>
   </div>
 </div>
{% endblock %}

{% block subnavigation %}
<h1><strong><a href="#">Next Steps</a></strong></h1>
<ul>
<li>Access <a href="#">{{ info.title  }}</a> in the 
 <a href="#">Digital Archives of Colorado College</a></li>
</ul>
{% endblock %}

{% block left-aside-two %}
<aside class="aside">
<div id="contact-lib-detail" style="background-color: #2D4873">
 {% include 'contact-library.html' %}
</div>
</aside>
{% endblock %}

{% block main-content %}
 <h1>Successful Electronic Thesis Submission</h1>
 <p>Your thesis, <em>{{ info.title }}</em>, has been successfully submitted to the
     Digital Archives of Colorado College (DACC) with the following PID:
 {{ info.pid }}.
 </p>
 {% if info.email %}
 <p>An email has been sent to {{ info.email }} and your to advisor's email.</p>
 {% endif %}
{% endblock %}

{% block right-aside-one %}
{% comment %}
<aside class="slideshow">
<dl>
 <dt><h3>Why submit your thesis to DACC?</h3></td>
 <dd>The Digital Archives of Colorado College preserves both digital object and
     makes the thesis available with a stable URL that you can use in your resume
     or CV</dd>
</dl>
</aside>
{% endcomment %}
{% endblock %}

{% block right-aside-two %}
{% endblock %}

{% block right-aside-three %}
{% comment %}
<aside class="social-media">
<ul>
 <li class="rss">Get updates via <a href="#">RSS feed</a></li>
 <li class="twitter">Tweet about <em>xxxxxxxxx</em></li>
 <li>Leave a <a href="#">comment</a></li>
</ul>
</aside>
{% endcomment %}

{% endblock %}


{% block more-scripts %}
{% endblock %}

{% block dialogs %}
{% endblock %}
