{% comment %}START Row DIV{% endcomment %}
<div class="row">
<form method="POST" action="/etd/{{ workflow }}/upload" enctype="multipart/form-data" class="form-horizontal">
{% csrf_token %}
 <div class="span6">
  {% comment %}START accordion DIV{% endcomment %}
  <div class="accordion" id="thesis-accordion">
    {% include 'thesis-author-grp.html' %}
    {% include 'thesis-info-grp.html' %}
   {% if has_dataset %}
    {% include 'thesis-dataset-grp.html' %}
   {% endif %}
   {% if has_media %}
    {% include 'thesis-media-grp.html' %}
   {% endif %}
   {% include 'thesis-honor-grp.html' %}
   {# START submit button div #}
    <div class="accordion-group">
     <div class="accordion-heading">
        <a class="accordion-toggle"
           data-toggle="collapse"
           data-parent="#thesis-accordion"
           href="#thesis-submit-grp-body" 
           style="color:gray;">Final Step: Submit Thesis</a></h3>
     <div class="accordion-body collapse" id="thesis-submit-grp-body">
      <div class="accordion-inner">
         Please review before submitting your thesis:<br/> 
         <input type="submit" value="Submit Thesis" />
      </div>
     </div>
    {# END submit button div #} 
    </div>

  {% comment %}END accordion DIV{% endcomment %}
  </div> 
 </div>
</form>
{% comment %}END Row DIV{% endcomment %}
</div>
