{# START Thesis Supporting Title DIV #}
<div data-bind="visible: showThesisSupport" >
<h2>Supporting Files</h2>
<p>
 You can attach up to 5 files, such as datasets, audio and video files, that support
 your thesis or senior capstone project.
</p>
<div class="form-group">
 <div class="col-lg-4 col-lg-offset-2">
  <input id="fileupload" class="btn btn-default" type="file" name="files[]" data-url="/apps/etd/uploadFile" multiple="multiple">
 
 </div> 
</div>
<div class="form-group">
  <div class="col-lg-4 col-lg-offset-2">
      
   <a href="#" data-bind="click: validateThesisSupport" class="btn btn-primary btn-lg">Save and Continue</a>
  </div>
</div>
{# END Thesis Supporting DIV #}
</div>
