{% comment %}START Row DIV{% endcomment %}
<form method="POST" role="form" {# action="/etd/{{ workflow }}/upload" #} 
     enctype="multipart/form-data" 
     class="form-horizontal"
     id="thesis-base-form"
     target="submit-iframe">
 <input type="hidden" data-bind="value: thesisPID" name="pid">
 <input type="hidden" value="{{ workflow }}" id="workflow">
{% csrf_token %}
{# START Progress Row #}
<div class="row">
 <div class="col-sm-8 col-md-8">
   <h4>Your progress:</h4>
   <div class="progress">   
     <div class="progress-bar progress-bar-info"
          data-bind="attr: { 'aria-valuenow': thesisProgressValue,
                             style: thesisProgressWidth}" 
          role="progressbar"
          aria-valuemin="0"
          aria-valuemax="100">
         
       <span class="sr-only">0% Complete</span>
    </div> 
   </div>
   <div class="alert alert-danger alert-dismissable" data-bind="visible: formError">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <span style="color: rgb(255,0,0) !important;"><strong>WARNING!</strong> You have errors in your thesis form.</span>
   </div>
 </div>
{# END Progress Row #}
</div>
<div class="row">
  {% include 'step-one.html' %}
  {% include 'step-two.html' %}
  {% include 'step-three.html' %}

  {% comment %}
  {% include 'thesis-author-grp.html' %}
  {% include 'thesis-info-grp.html' %}
  {% include 'thesis-support-grp.html' %}
  {% include 'thesis-honor-grp.html' %}
  {% include 'thesis-review-submit.html' %}
  {% endcomment %}

</div>
</form>
{% comment %}END Row DIV{% endcomment %}
</div>
