{% comment %}START Row DIV{% endcomment %}
<form method="POST" role="form" {# action="/etd/{{ workflow }}/upload" #} 
     enctype="multipart/form-data" 
     class="form-horizontal">
{% csrf_token %}
{# START Progress Row #}
<div class="row">
 <div class="col-sm-8 col-md-8">
   <h4>Your progress:</h4>
   <div class="progress">   
     <div class="progress-bar progress-bar-info"
          role="progressbar"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 0%">
       <span class="sr-only">0% Complete</span>
     </div> 
   </div>
 </div>
{# END Progress Row #}
</div>
<div class="row">
  {% include 'thesis-author-grp.html' %}
  {% include 'thesis-info-grp.html' %}
 {% if has_dataset %}
    {% include 'thesis-dataset-grp.html' %}
   {% endif %}
   {% if has_media %}
    {% include 'thesis-media-grp.html' %}
   {% endif %}
   {% include 'thesis-honor-grp.html' %}
   {# START submit button div #}
    <div class="accordion-group">
     {# START submit heading DIV #}
     <div class="accordion-heading">
        <a class="accordion-toggle form-step-label"
           data-toggle="collapse"
           data-parent="#thesis-accordion"
           href="#thesis-submit-grp-body" 
           >Final Step: Submit Thesis</a></h3>
     {# END submit heading DIV #}
     </div>

     <div class="accordion-body collapse" id="thesis-submit-grp-body">
      <div class="accordion-inner">
         Please review before submitting your thesis:<br/> 
         <input type="submit" value="Submit Thesis" />
      </div>
     </div>
    {# END submit button div #} 
    </div>

  {% comment %}END accordion DIV{% endcomment %}
  </div> 
 </div>
</form>
{% comment %}END Row DIV{% endcomment %}
</div>
