aside.aside {
  background-color: #2D4873;
  border: 1px solid #E7E4E0;
  color: white;
  margin-top: 15px;
  padding: 10px 15px;
}

aside.aside h5 {
 color: #fddb55;
 font-size: 1.2em;
}

iframe.website-footer {
  margin: 0;
  padding: 0;
  border: none;
  width: 1020px;
}

iframe.website-header {
  margin: 0;
  padding: 0;
  border: none;
  height: 325px;
  width: 1020px;
  
}

 h1 {
  color: #594738 !important;
  font-size: 1.5em !important;
}

 h3 { 
  font-size: 1.1em !important;
 }


 a.form-step-label {
   color: #2D4873;
   font-size: 1.2em;
   font-weight: bold;
   padding: 1em;
 }

 input,select {
  font-size: 0.8em;
  color: #777777;}

 textarea {
  color: #777777;}

 td {
  valign: top;
  font-size: 0.7em;}

 .error {
  color: red;
  font-weight: bold;}

 ul.errorlist {
  color:red;
  display: inline;
  font-weight: bold;
  list-style-type: none; }

 ul.errorlist li{
   display: inline; }

 h3.chk_box {
  padding-left: 0px;
  padding-right: 0px;
  background-color: #DDE8E4; 
  font-weight: bold;
  text-align: center;
  }

 #form-body {
   padding: 5px;
   }

 #right-column {
  padding: 5px;
  float: right;
  }

 #honor-code {
   border: 2px solid #DDE8E4; 
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 3px;

   }

 #submission-agreement {
   border: 2px solid #DDE8E4; 
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 3px;
   }
 #submission-agreement h3 {text-align: center;}

.alert {color: rgb(255,255,0)}
.info {color: rgb(0,255,0);}
.critical {color: rgb(255,0,0);}

.help_steps {
  background-color: #F1ECE5;
  border: 4px solid #FFFFFF;
  box-shadow: 0 2px 7px rgba(0,0,0,0.2);
  font-size: 1.125em !important;
  font-family: "Helvetica Neue",Arial,sans-serif !important;
  padding: 1em;
}

.help_steps ol {
  padding-top: 1em;
}

.help_steps ol li {
 color: #4C3D38;
}

.help_steps p {
  font-size: 1.125em !important;
  font-family: "Helvetica Neue",Arial,sans-serif !important;
}

h1.help_step {
  border-bottom: 1px solid #2A466D;
  color: #2A466D !important;
  font-weight: 300;
  font-size: 2em;
}

.main {
 background-color: #FFFFFF;
 color: #4C3D38;
 font-family: "Helvetica Neue",Arial,sans-serif !important;
 padding: 1em;
}

.main a {
  color: #660000;
  font-weight: bold;
}

.main p {
 font-size: 1.1em;
}
