{# START Thesis Supporting Title DIV #}
<div data-bind="visible: showStepThree" >
<h2>Supporting Files</h2>
<p>
You can attach up to 5 files, such as text (PDF), datasets (various), audio 
(mp3 or wav), video files (mov, mp4, or wmv), and photos (TIFF or JPEG) that support your 
thesis or senior capstone project. If you do not provide a title for each file, 
the title will be the name of the file.  Any file over 500 MB cannot be 
handled through this form.  For large files, contact Lisa at 
<a href="mailto:llister@coloradocollege.edu">llister@coloradocollege.edu</a> 
for instructions.
</p>
<div class="form-group">
 <div class="col-lg-6 col-lg-offset-2">
   <label>Title of File One</label>
   {{ step_three_form.file_one_title }}
   {{ step_three_form.file_one }}
 </div> 
</div>
<div class="form-group">
 <div class="col-lg-6 col-lg-offset-2">
   <label>Title of File Two</label>
   {{ step_three_form.file_two_title }}
   {{ step_three_form.file_two }}
 </div> 
</div>
<div class="form-group">
 <div class="col-lg-6 col-lg-offset-2">
   <label>Title of File Three</label>
   {{ step_three_form.file_three_title }}
   {{ step_three_form.file_three }}
 </div> 
</div>
<div class="form-group">
 <div class="col-lg-6 col-lg-offset-2">
   <label>Title of File Four</label>
   {{ step_three_form.file_four_title }}
   {{ step_three_form.file_four }}
 </div> 
</div>
<div class="form-group">
 <div class="col-lg-6 col-lg-offset-2">
   <label>Title of File Five </label>
   {{ step_three_form.file_five_title }}
   {{ step_three_form.file_five }}
 </div> 
</div>

<div class="form-group">
  <div class="col-lg-6 col-lg-offset-1">
   <div class="btn-group">
    <a href="#" class="btn btn-success btn-lg" 
       data-bind="click: backStepTwo">
      <span class="glyphicon glyphicon-chevron-left"></span> Previous Step</a> 
    <a href="#" data-bind="click: validateStepThree" class="btn btn-primary btn-lg">Next Step 
       <span class="glyphicon glyphicon-chevron-right"></span></a>
   </div>   
  </div>
</div>
{# END Thesis Supporting DIV #}
</div>
