{% extends 'etd/base.html' %}

{% block head_title %}About Colorado College's ETD Application{% endblock %}
{% block more_css %}
 <link href="{{ url_for('static', filename="css/thesis.css") }}" rel="stylesheet" />
 
{% endblock %}

{% block library_breadcrumb %}
{% endblock %}

{% block body %}
<div class="row" style="top-margin: 800px">
  <section class="col-md-8 col-md-offset-2">
        <h1>About Colorado College's ETD Application</h1>
        <p><strong>Version:</strong> {{ version }}</p>
  </section>
</div>
{% endblock body %}
