<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
	{% block head_title %}{% endblock %}
    </title>
	  <meta http-equiv = "refresh" content = "2; url = https://forms.office.com/Pages/ResponsePage.aspx?id=PLHHz5YSh0OzCF3gj9E8mYMRC84qfp1MnRatiGEhLyxUMUJRRzZLVFhDMUtTUU0xWlBBODRUNFVUMC4u" /> 
    {% block meta %}
    <meta name="description" content="Colorado College Thesis Self-Submission">
    <meta name="author" content="Jeremy Nelson">
    {% endblock %}
    {% block more_meta %}{% endblock %}
    
    <link rel="shortcut icon" href="{{ url_for('static', filename="ico/favicon.png") }}">

    <title>Colorado College Thesis Self-Submission</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename="css/default.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/thesis.css") }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename="css/cc-header-footer.css") }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/typeaheadjs.css') }}" rel="stylesheet">
    {% block more_css %}{% endblock %}

  </head>
  <body>
   {# START main DIV #}
   <div id="main">

  {% block navbar %}
    {% include 'etd/header.html' %}
 {% endblock %} 
  
  {# START body container #}
  <div class="container main-container"> 
  {% block body %}{% endblock %}
  {# END body container #}
  </div>
  {# comment %}
  {% endblock %}

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->
  {% endcomment #}
  
  {# END main DIV #}
  </div>

  {% block footer %}
    {% include 'etd/footer.html' %}
  {% endblock %} 

  {% block dialogs %}
    {% include 'etd/snippets/help.html' %}
 {% endblock %} 
 {% block more_dialogs %}{% endblock %}  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename="js/jquery.js") }}"></script>
    <script src="{{ url_for('static', filename="js/popper.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/knockout.js") }}"></script>

   {% block more_js %}{% endblock %} 
  </body>
</html>
