{% extends 'etd/base.html' %}

{% block head_title %}Electronic Thesis Submission for Colorado College{% endblock %}

{% block action_view_subtitle %}
{% if workflow %}
{# config|get_department_name #} 
{% endif %}
{% endblock %}


{% block library_breadcrumb %}
{% endblock %}

{% block body %}
<div class="row" style="top-margin: 800px">
 <div class="col-sm-8 col-md-8">
  <ul class="breadcrumb" >
   <li class="breadcrumb-item"><a href="http://www.coloradocollege.edu/library">Library Home</a></li>
   <li class="breadcrumb-item{% if not workflow %} active{% endif %}"><a href="/etd/">ETD</a></li>
  {% if workflow %}
   <li class="breadcrumb-item active"><a href="#" >{# config|get_department_name #}</a></li>
  {% endif %}
  </ul>
 </div>
</div>

<div class="row">
  {# START left-column DIV #}
  <div class="col-md-3 col-sm-3 offset1">
{% if workflow %}
   <div class="help_steps">
    <h1 class="help_step">Follow these steps to submit your thesis</h1>
     <p><i>Before you begin filling out the thesis submission form:</i></p>
      <ul>
        <li>Make sure you have the FINAL version of your thesis</li>
        <li>Make sure your thesis has a title page. A sample page is available 
            <a href="http://coloradocollege.libguides.com/content.php?pid=345211&sid=3038279">here</a>
        </li>
        <li>Make sure your thesis is saved as a PDF/A. This is an "archival" version 
            of PDF.  For instructions, please see this 
			<a href="{{ url_for('static', filename="pdf/pdfaInstructions.pdf") }}" target="pdfa">document</a></li>
     
      </ul>
    <p>Then proceed to the electronic thesis submission form:</p>
    <ol start="1">
      <li>Enter Author Information</li>
      <li>Upload Thesis or Capstone (text should be PDF/A)</li>
      <li>Upload datasets or media files (mp3 or mp4)</li>
      <li>Agree to honor code and submission agreements</li>
      <li>Submit your thesis to <a href="https://digitalccbeta.coloradocollege.edu/">DigitalCC</a>
      </li>
    </ol>
   </div> 
{% else %}
   <div class="help_steps">
    <h1 class="help_step">What now?</h1>
    <ol start="1">
     <li>Select your department web form</li>
     <li>Enter your last name and TIGER library number</li>
     <li>Fill out information about your thesis</li>
     <li>Upload your thesis in PDFa format</li>
     <li>Done!</li>
    </ol>
   </div>
{% endif %}
  <aside class="aside">
   <div>
    <h5><strong>Questions? Need Help?</strong></h5>
    <p>Try our <a href="http://coloradocollege.libguides.com/DigitalArchivesSubmission">thesis libguide</a> or contact <a href="mailto:jrandall@coloradocollege.edu">Jessy Randall</a> or your 
    <a href="http://coloradocollege.libguides.com/home#s-lib-ctab-7816697-4">Library Liaison</a>. You can also contact the 
    Tutt Library Research Desk at 389-6662.</p>
  </div>
  </aside>
  <br>
  <!--<a class="btn btn-info center-block" 
     href="https://github.com/Tutt-Library/ccetd/issues">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    Report Bug 
  </a>
   <hr>-->
   {# END left-column DIV #}
  </div>
  {# comment %}START main-column DIV #}
  <div class="col-md-8 col-sm-8 well">
 {% if workflow %}
    <h1>{# workflow.1.get('FORM', 'department') #} Thesis Submission</h1>
   {% include 'etd/thesis-form.html' %}
 {% else %}
   <h1>Colorado College Electronic Thesis Submission</h1>
   <p>Submit your thesis here!</p>
   <ul>
   {% for workflow in active %}
    <li><a 
        {% if not user.is_authenticated %}href="{{ url_for('login') }}?next={{ workflow.get('slug') }}" 
        {% else %} 
        href="{{ url_for('workflow', name=workflow.get('slug')) }}"
        {% endif %}>{{ workflow.get('label') }}</a> 
    </li>
   {% endfor %}
   </ul>
 {% endif %}
  {# END main-column DIV #}
  </div>
</div>
</div>
{% endblock %}

{% block more_js %}
{#
<script src="{{ STATIC_URL}}js/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL}}js/jquery.fileupload.js"></script>
<script src="{{ STATIC_URL}}js/jquery.iframe-transport.js"></script>
#}
<script src="{{ url_for('static', filename="js/knockout.validation.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/thesis.js") }}"></script>
<script src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>

<script>
 var view_model = new ThesisViewModel();
 {% if user.is_authenticated %}
 view_model.givenValue("{{ user.data.get('givenName') }}");
 view_model.familyValue("{{ user.data.get('sn') }}");
 view_model.emailValue("{{ user.data.get('mail') }}");
 {% endif %}
 ko.applyBindings(view_model);

 {% if workflow %}
  $('#open-web-alert-dlg').modal('show');

 {% endif %}
 {% if user.is_authenticated %}
   var oclcFast = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            url: "{{ url_for('fast_suggest') }}?q=%QUERY",
            wildcard: '%QUERY'
        }
    });

    $("#fast-suggestion .typeahead").typeahead({
            highlight: true 
        },
        {
            name: 'oclc-fast',
            display: 'suggestall',
            id: 'id',
            source: oclcFast.ttAdapter(),
            templates: {
                empty: [
                    '<div style="padding: 1em 2em">',
                    'unable to find any FAST headings',
                    '</div>'
                ].join('\n'),
                suggestion: function(data) {
                    return '<div style="background-color: white" id="' + data.id + '">' + data.suggestall + '</div>';
                }
            }
    }).on('typeahead:selected', function(obj, datum) {
        $('.typeahead').typeahead('val','');
        $("#keywords").append(
            ['<div class="alert alert-primary alert-dismissible fade show text-dark">',
             '<input type="hidden" name="keyword" id="' + datum.id + '" value="' + datum.suggestall + '">',

              datum.suggestall,
              '<button type="button" class="close" data-dismiss="alert" aria-label="Close">',
              '<span aria-hidden="true">&times;</span></button></div>'].join('\n'));
    });
 
    
  {% endif %}
</script>
{% endblock %}


{% block more_dialogs %}
<div class="modal fade" id="open-web-alert-dlg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">NOTE!</h4>
      </div>
      <div class="modal-body">
        <p>
          Submitting your thesis to the Digital Archives means that your scholarly work will be shared on the open web.
          If you have any questions about this policy or if your thesis contains material that should NOT be available
          on the open web, please contact <a href="mailto: jrandall@coloradocollege.edu">Jessy Randall</a>.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}  
