<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tutt Library Error Message</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="container">
    <h1>Discovery Service Unavailable</h1>
    <p class="lead">
     The Tutt Library Discovery Service is unavailable. You can still search
     our legacy catalog at 
     <a href="http://tiger.coloradocollege.edu/">http://tiger.coloradocollege.edu/</a>. The Digital CC
     ETD application is available at <a href="/etd/">here</a>. 
     If you have any questions, please e-mail  
     <a href="mailto:jdriscoll@coloradocollege.edu">Jon Driscoll</a> or 
     <a href="mailto:jrandall@coloradocollege.edu">Jessy Randall</a>.

    </p>
  </body>
</html>

