{# START Thesis Info Group DIV #}
<div data-bind="visible: showStepTwo">
 <h2>
   Step 2: Upload Thesis and Enter Information
        {# if step_two_form.thesis_file.errors or step_two_form.title.errors %}
        <span class="error">Errors(s), please fix</span>
        {% endif #}
 </h2>
 <div class="form-group" data-bind="css: thesisFileStatus" >
   <label for="id_thesis_file" class="col-lg-3 control-label">
     <b>Thesis*</b> (<i>Browse to attach thesis</i>):
   </label>
   <div class="col-lg-3">
     {{ step_two_form.thesis_file(class_="btn btn-default", **{'data-bind': 'value: thesisFile'}) }}
     {# step_two_form.thesis_file.errors #}<br/>
   </div>
 </div>
 <div class="form-group" data-bind="css: titleValueStatus">
  <label for="id-title" class="col-lg-3 control-label">
   {{ step_two_form.title.label }}*
  </label>
  <div class="col-lg-5">
      {{ step_two_form.title(size=225, class_="form-control", **{'data-bind': 'value: titleValue'}) }}
      {# step_two_form.title.errors #}
  </div>
 </div>
 <div class="form-group">
   <label for="id_about-page_numbers" 
          class="col-lg-3 control-label">{{ step_two_form.page_numbers.label }}
</label>
   <div class="col-lg-2"> 
    {{ step_two_form.page_numbers(class_="form-control") }}
   </div>
 </div>
 <div class="form-group">
  <label for="id_about-has_illustrations"
         class="col-lg-3 control-label">
      Contains illustrations and/or graphics:
  </label> 
  <div class="col-lg-2">
   <div class="checkbox">
    <label>
    {{ step_two_form.has_illustrations(class_="form-control") }}  {{ step_two_form.has_illustrations.label }}  
    </label>
   </div>
  </div>
 </div>
 <div class="form-group">
  <label for="id_about-has_maps"
         class="control-label col-lg-3">Contains maps:</label>

  <div class="col-lg-2">
   <div class="checkbox">
    {{ step_two_form.has_maps(class_="form-control") }}{{ step_two_form.has_maps.label }}
   </div>
  </div>
</div>
{% if multiple_languages %}
<div class="form-group">
 <label for="id-languages"
        class="col-lg-3 control-label">
 {{ step_two_form.languages.label }}*:
 </label>
 <div class="col-lg-3">
   {{ step_two_form.languages(class_="form-control") }}
 </div>
</div>
{% endif %} 
<div class="form-group">
 <label for='id-abstract'
        class="col-lg-3 control-label">
  {{ step_two_form.abstract.label }}:
 </label>
 <div class="col-lg-6">
  {{ step_two_form.abstract(cols=60, rows=5, class_="form-control") }}
 </div>
</div>
<div class="form-group" data-bind="css: thesisKeywordsStatus">
  <label for="id-subjects"
         class="col-lg-3 control-label">
   Tags or Keywords (must include at least one)</label>
  <div class="col-lg-6">
   <ul class="list-inline" data-bind="foreach: thesisKeywords" id="keywords">
     <li>
      <input type="text" name="keyword" class="form-control"></input>
     </li>
   </ul>
   <a href="#" 
      data-bind="click: addKeyword" 
      id="AddKeywordBtn">
      <i class="glyphicon glyphicon-plus-sign"></i>
   </a>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-6 col-lg-offset-1">
   <div class="btn-group">
    <a href="#" class="btn btn-success btn-lg" 
       data-bind="click: backStepOne">
      <span class="glyphicon glyphicon-chevron-left"></span> Previous Step</a>
    <a href="#" data-bind="click: validateStepTwo" class="btn btn-primary btn-lg">
      Next Step <span class="glyphicon glyphicon-chevron-right"></span></a>
   </div>
  </div>
</div>
{# END Thesis Info Group DIV #}
</div>
