{% extends 'etd/base.html' %}

{% block head_title %}Successful Thesis Submission to Digital Archives of Colorado College {% endblock %}
{% block more_css %}
 <link href="{{ STATIC_URL }}css/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
 <link href="{{ url_for('static', filename='css/thesis.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}
<div class="row" >
 <div class="col-sm-8 col-md-8" style=" margin-top: 0px">
  <ul class="breadcrumb" >
   <li><a href="http://www.coloradocollege.edu/library">Library Home</a></li>
   <li><a href="/etd">ETD</a></li>
  {% if workflow %}
   <li class="active"><a href="#" >{{ config.get('INSTITUTION').get('name') }}</a></li>
  {% endif %}
  </ul>
 </div>
</div>
{# START Main Rwo #}
<div class="row">
  {# START left-column DIV #}
  <div class="col-md-3 col-sm-3 offset1">
   <aside class="aside">
    <div>
     <h5><strong>Questions? Need Help?</strong></h5>
     <p>Contact <a href="mailto:sarah.bogard@coloradocollege.edu">Sarah Bogard</a>,
     Digital Archives manager, at 389-6242 or your department's
     <a href="http://coloradocollege.libguides.com/findlibrarian">Library Liaison</a>. You can also contact the 
     Tutt Library Reference Desk at 389-6662.</p>
    </div>
   </aside>
  </div>
 <div class="col-md-8 col-sm-8 well">
 <h1>Successful Electronic Thesis Submission</h1>
 <p class="lead">Your work, <a href="{{ info.thesis_url }}"><em>{{ info.title }}</em></a>, has been successfully submitted to the
     Digital Archives of Colorado College (DACC) with the following PID:
 {{ info.pid }}.
 </p>
 {% if info.email %}
 <p class="lead">An email has been sent to {{ info.email }} and to your advisor's email.</p>
 {% endif %}
 </div>
{# END Main Rwo #}
</div>
{% endblock %}
