<!DOCTYPE html>
<html>
<head>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <title>{{default.institution}} {{default.department}} Thesis Submission</title>
 <link type="text/css" href="/thesis.css" rel="stylesheet" />
 <script type="text/javascript" src="/thesis.js"></script>
  <script>
  $(document).ready(function() {
    $("#accordion").accordion();
  });
  </script>
</head>
<body style="font-size:62.5%;">
<h1>{{default.institution}} </h1>
<h2>Your Digital Archive</h2>
 <p>
  Preserve your work in the Digital Archives at {{default.institution}}. Please
  fill out any required fields that are marked with an *. To increase the utility of your electronic thesis,
  include an abstract and keywords describing your work.  
 </p>
 <h3 class="error">Please correct the errors below</h3>
<div id="accordion">
	<h3><a href="#">Step 1: Enter Author Information</a>
        </a>
        </h3>
	<div>
         <p>
          Please fill out any required fields that are marked with an *.
         </p>
	  <fieldset>
      <legend for="id-creator">Your Name:</legend>
      {{ form.creator_given.errors }}
      {{ form.creator_given.label }}*:{{ form.creator_given }}<br/>
      {{ form.creator_middle.label }}:{{ form.creator_middle }}<br/>
      {{ form.creator_family.label }}*:{{ form.creator_family }}<br/>
      {{ form.creator_suffix.label }}:{{ form.creator_suffix }}
      </fieldset>
      {% if default.email_notices %}
      <br/>
      <label>{{ form.email.label }}</label>{{ form.email }}<br/>
      (<i>To receive a notification e-mail when your thesis is submitted</i>)
      <br/>
      {% endif %}
      <label>{{ form.advisors.label }}</label>
      <br/>
      {{ form.advisors }}
      <br/>
      <label for='id-grad-date'>Graduation Date:</label>
      {{ form.graduation_dates }}
     </div>

	<h3><a href="#">Step 2: Upload Thesis and Enter Information
        % if c.form_errors.has_key('thesis_doc') or c.form_errors.has_key('title'):
        <span class="error">Errors!!</span>
        % endif
        </a></h3>
	<div>
	  <label>
      % if c.form_errors.has_key('thesis_doc'):
      <span class="error">${c.form_errors['thesis_doc']}</span>
      % endif
      <b>Thesis*</b> (<i>Browse to attach thesis</i>):</label>
      ${h.file("thesis_doc")}<br/>
      <label for="id-title">
      % if c.form_errors.has_key('title'):
      <span class="error">${c.form_errors['title']}</span>
      % endif
      Thesis Title*
      </label><br/>
      ${h.text("title",size="60")}
      <br/>
      <fieldset>
      <legend for="id-extent">About your thesis:</legend>
      <ul>
      <li>Last page number: ${h.text("page_nums",size="10")}</li>
      <li>Contains illustrations and/or graphics: ${h.radio("has_illustrations","yes",label="Yes")} ${h.radio("has_illustrations","no",checked=True,label="No")}</li>
      <li>Contains maps: ${h.radio("has_maps","yes",label="Yes")}${h.radio("has_maps","no",checked=True,label="No")}</li> 
      </ul>
     </fieldset>
     <br/>
	   <label for='id-abstract'>Abstract:</label><br/>
       ${h.textarea("abstract","",cols="60",rows="5")}
       <br/>
       <label for="id-subjects">Tags or Keywords</label><br/>
       <span id="span-keywords">
       ${h.text("subject-1",size=20)}${h.text("subject-2",size=20)}${h.text("subject-3",size=20)}
       </span>
       <a href="#" onclick="AddKeywords();" id="more-a">+ More</a>
       <br/>
	</div>
        ## END Thesis accordion
        ## START Dataset accordion
	<h3><a href="#">Step 3 (Optional): Upload Dataset and Enter Information</a></h3>
	<div>
      <label><b>Dataset</b> (<i>browse to attach</i>):</label>
      ${h.file("thesis-data")}
	  <br/>
	  <label>Software/version: (example - Stata version 10, EViews version 7)</label>
	  <br/>
	  ${h.textarea("dataset-info","",cols=60,rows=3)} 
	  <br/>
	  <label>Abstract of dataset: (briefly describe variables, years, or number of observations, etc.)</label><br/>
      ${h.textarea("dataset-abstract","",cols=60,rows=5)}
	  <br/>
	  <label>If you agree, your dataset will be publically available.</label>
	 I agree: ${h.radio("dataset-access-note",value="yes",checked=True,label="Yes")}
			  ${h.radio("dataset-access-note",value="no",label="No")}
	</div>
        ## END Dataset accordion
        ## START Honor-code and Submission accordion
	<h3><a href="#">Step 4: Honor Code and Submission Agreements
        % if c.form_errors.has_key('honor_code') or c.form_errors.has_key('agreement'):
        <span class="error">Errors!!</span>
        % endif
        </a></h3>
	<div>
	% if c.form_errors.has_key('honor_code'):
	<div class="error">
	 You must agree to the honor code to submit your thesis to the digital
	 archive.
	</div>
	% endif
        <h3 class="chk_box">Honor Code</h3>
        ## START honor-code div
        <div id="honor-code">
	${h.checkbox("honor_code",value="yes")} By checking this box I indicate agreement with this
	statement: On my honor, I have neither given nor received unauthorized aid on this thesis.
        </div>
        ## END honor-code div
	<h3 class="chk_box">Submission Agreement</h3>
	% if c.form_errors.has_key('agreement'):
	<div class="error">
	 You must check this submission agreement to submit your thesis to the 
	 digital archive.
	</div>
	% endif
        ## START agreement div
        <div id="agreement">
	<p><b>${h.checkbox("agreement",value="yes",label="I agree")}</b>
	By checking the agreement box and submitting this form, I (the author and copyright owner) grant ${c.form['institution']}
		the non-exclusive right to reproduce and distribute my thesis/work in print and electronic form. I agree
	   that ${c.form['institution']} may, without changing the content, convert my thesis/work to any medium or format for the 
	   purpose of historical preservation and to make publically available in open access to a larger community of
	   scholars. All such copies will retain original notices of authorship and copyright.</p>
	<p>I understand that as the author of this work, I shall, without limitation, have the right to use, reproduce,
	   distribute, update, create derivatives, and make copies of the work (electronically or in print). U.S. Copyright
	   law protects me against the unauthorized use of this work; the right to use in future works all or part of this
	   work.</p>
	<p>I understand that ${c.form['institution']} shall have the right to non-commerical use which includes the right to reproduce,
	   distribute, and make copies of the work (electronically or in print) in connection with digital repositories, 
	   teaching, and scholarly activities at ${c.form['institution']}.</p>
        </div>
        ## END agreement div
        </div>
        ## END Honor-code accordion
   </div>
   ## END accordion div
</div>
${h.submit("submit","Submit Thesis")}
${h.end_form()}
</body>
</html>
