 h3 { 
  font-size: 1.1em !important;
 }

 input,select {
  font-size: 0.8em;
  color: #777777;}

 textarea {
  color: #777777;}

 td {
  valign: top;
  font-size: 0.7em;}

 .error {
  color: red;
  font-weight: bold;}

 ul.errorlist {
  color:red;
  display: inline;
  font-weight: bold;
  list-style-type: none; }

 ul.errorlist li{
   display: inline; }

 h3.chk_box {
  padding-left: 0px;
  padding-right: 0px;
  background-color: #DDE8E4; 
  font-weight: bold;
  text-align: center;
  }

 #form-body {
   padding: 5px;
   }

 #right-column {
  padding: 5px;
  float: right;
  }

 #honor-code {
   border: 2px solid #DDE8E4; 
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 3px;

   }

 #submission-agreement {
   border: 2px solid #DDE8E4; 
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 3px;
   }
 #submission-agreement h3 {text-align: center;}

.alert {color: rgb(255,255,0)}
.info {color: rgb(0,255,0);}
.critical {color: rgb(255,0,0);}

