{% extends "etd/base.html" %}

{% block action_view_title %}Login{% endblock %}


{% block more_css %}
 <link href="{{ url_for('static', filename="css/thesis.css") }}" rel="stylesheet" />
 <style>
    #Login-content {
        background: #f8f4e6 none repeat scroll 0 0 !important;
        border: 2px solid #d7ceb2 !important;
    }

 </style>
{% endblock %}



{% block body %}
{% if form.errors %}
  <h2 style="color: rgb(255,0,0); margin-top: 60px;">Error! Username or Password was incorrect. </h2>
  <p class="lead">Need <a href="https://www.coloradocollege.edu/offices/its/guides">help</a>? 
     Call 719-389-6449</p> 
{% endif %}
<br>
<div class="row">
 <div class="col-md-4 col-md-offset-4 mx-auto" id="Login-content">
  <h1>Colorado College Single Sign-In</h1>
 <form class="form-horizontal" method="post" action="{{ url_for('login') }}?next={% if next %}{{ next }}{% else %}{{ request.path }}{% endif %}">
    {{ form.hidden_tag() }}
 {# csrf_token #}
  <div class="row">
  <section class="col-md-7">
  <div>
    <label for="id_username" class="control-label">Username:</label>
    <div>{{ form.username(class_="form-control") }}</div>

   <label for="id_password" class="control-label">Password:</label>
   <div class="">
     {{ form.password(class_="form-control") }}
    </div>
  </div>
  <div>
    <div class="">
      <input type="submit" class="btn btn-primary" value="Sign In" />
    </div>
  </div>
  </section>
  </div>
  {#<input type="hidden" name="next" 
   {% if next %}value="{{ next }}"{% else %}value="{{ request.path }}" {% endif %} />#}
</form>
 </div>
</div>
<br>
<hr>
{% endblock %}
